# Introduction to pandas

> - Some packages that are improved (might be faster): `Pandas` ---> `Polars` ---> `DuckDB`
> - `csv` alternative file format: `parquet` : can be downloaded while querying (so not chunks but smart parts)

pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language. Since it's not native from Python, you can install it using pip or conda. 

In a python program, you can import it as any other package.

In [404]:
import pandas as pd
import numpy as np

## Dataframes
In pandas terminology, a [dataframe](https://pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) is a 2-dimensional labeled data structure with columns of potentially different types. We can read a csv or txt file using the read_csv() function.

In [405]:
players_file = "data/player_data.csv"
df = pd.read_csv(players_file, sep=",", header="infer")

You can get a sample of the data by using the ``head()`` method to get the first 5 rows of data.

In [406]:
df.head()

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University

We can also define the number of rows we want to see.

In [407]:
df.head(n=20)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974",San Jose State University
5,Shareef Abdur-Rahim,1997,2008,F,6-9,225.0,"December 11, 1976",University of California
6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University
7,Forest Able,1957,1957,G,6-3,180.0,"July 27, 1932",Western Kentucky University
8,John Abramovic,1947,1948,F,6-3,195.0,"February 9, 1919",Salem International University
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",NaN
10,Alex Acker,2006,2009,G,6-5,185.0,"January 21, 1983",Pepperdine University
11,Don Ackerman,1954,1954,G,6-0,183.0,"September 4, 1930",Long Island University
12,Mark Acres,1988,1993,F-C,6-11,220.0,"November 15, 1962",Oral Roberts University
13,Bud Acton,1968,1968,F,6-6,210.0,"January 11, 1942",Hillsdale College
14,Quincy Acy,2013,2018,F,6-7,240.0,"October 6, 1990",Baylor University
15,Alvan Adams,1976,1988,C-F,6-9,210.0,"July 19, 1954",University of Oklahoma
16,Don Adams,1971,1977,F,6-6,210.0,"November 27, 1947",Northwestern University
17,George Adams,1973,1975,F-G,6-5,210.0,"May 15, 1949",Gardner-Webb University
18,Hassan Adams,2007,2009,G,6-4,220.0,"June 20, 1984",University of Arizona
19,Jordan Adams,2015,2016,G,6-5,209.0,"July 8, 1994","University of California, Los Angeles"

The same can be done with the last rows of data using the ``tails()`` method.

In [408]:
df.tail()

,name,year_start,year_end,position,height,weight,birth_date,college
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

In [409]:
df.tail(n=20)

,name,year_start,year_end,position,height,weight,birth_date,college
4530,Max Zaslofsky,1947,1956,G-F,6-2,170.0,"December 7, 1925",St. John's University
4531,Zeke Zawoluk,1953,1955,F-C,6-7,215.0,"October 13, 1930",St. John's University
4532,Cody Zeller,2014,2018,C-F,7-0,240.0,"October 5, 1992",Indiana University
4533,Dave Zeller,1962,1962,G,6-1,175.0,"June 8, 1939",Miami University
4534,Gary Zeller,1971,1972,G,6-3,205.0,"November 20, 1947",Drake University
4535,Harry Zeller,1947,1947,C-F,6-4,210.0,"July 10, 1919",Washington & Jefferson College
4536,Luke Zeller,2013,2013,C,6-11,245.0,"April 7, 1987",University of Notre Dame
4537,Tyler Zeller,2013,2018,F-C,7-0,253.0,"January 17, 1990",University of North Carolina
4538,Tony Zeno,1980,1980,F,6-8,210.0,"October 1, 1957",Arizona State University
4539,Phil Zevenbergen,1988,1988,C,6-10,230.0,"April 13, 1964",University of Washington
4540,Wang Zhizhi,2001,2005,C,7-0,255.0,"July 8, 1977",NaN
4541,George Zidek,1996,1998,C,7-0,250.0,"August 2, 1973","University of California, Los Angeles"
4542,Derrick Zimmerman,2006,2006,G,6-3,195.0,"December 2, 1981",Mississippi State University
4543,Stephen Zimmerman,2017,2017,C,7-0,240.0,"September 9, 1996","University of Nevada, Las Vegas"
4544,Paul Zipser,2017,2018,G-F,6-8,215.0,"February 18, 1994",NaN
4545,Ante Zizic,2018,2018,F-C,6-11,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,7-1,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,6-1,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,7-1,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,6-3,195.0,"December 19, 1919",George Washington University

Get a list with the column names of your dataframe using the attribute ``columns``

In [410]:
df.columns

Index(['name', 'year_start', 'year_end', 'position', 'height', 'weight',
       'birth_date', 'college'],
      dtype='object')

The result is a list, so you can pick a column name using its 0 based index.

In [411]:
print(df.columns[1])
print(df.columns)

year_start
Index(['name', 'year_start', 'year_end', 'position', 'height', 'weight',
       'birth_date', 'college'],
      dtype='object')

You can use the ``dtypes`` attribute to get each column type.

In [412]:
df.dtypes

name           object
year_start      int64
year_end        int64
position       object
height         object
weight        float64
birth_date     object
college        object
dtype: object

dtypes return a Series, but we will see that soon.

In [413]:
type(df.dtypes)

pandas.core.series.Series

You can get the dataframe dimensions using the ``shape`` attribute.

Returns a tuple: `(rows, columns)`

In [414]:
print(df.shape, type(df.shape), sep="\n")

(4550, 8)
<class 'tuple'>

In [415]:
nrows = df.shape[0]
print(nrows)

4550

**Side Note**: Here's one funny thing about tupples, you can "unpack" its values into individual variables in a easy way:

    a, b = (1, 2) 

is the same as:

    a = 1
    b = 2

Pythonic!!!

In [416]:
nrows, ncols = df.shape
print(nrows)
print(ncols)

4550
8

## Selecting columns

You can get the data of a column using the column label. The result is given has a [serie](https://pandas.pydata.org/docs/user_guide/dsintro.html#series), which is another pandas data structure.

Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

In [417]:
players_names = df["name"]
players_names

0            Alaa Abdelnaby
1           Zaid Abdul-Aziz
2       Kareem Abdul-Jabbar
3        Mahmoud Abdul-Rauf
4         Tariq Abdul-Wahad
               ...
4545             Ante Zizic
4546               Jim Zoet
4547              Bill Zopf
4548            Ivica Zubac
4549             Matt Zunic
Name: name, Length: 4550, dtype: object

In [418]:
type(players_names)

pandas.core.series.Series

**Side Note:** You can convert a Series into a list using series_name.to_list()

In [419]:
players_names.to_list()

['Alaa Abdelnaby',
 'Zaid Abdul-Aziz',
 'Kareem Abdul-Jabbar',
 'Mahmoud Abdul-Rauf',
 'Tariq Abdul-Wahad',
 'Shareef Abdur-Rahim',
 'Tom Abernethy',
 'Forest Able',
 'John Abramovic',
 'Alex Abrines',
 'Alex Acker',
 'Don Ackerman',
 'Mark Acres',
 'Bud Acton',
 'Quincy Acy',
 'Alvan Adams',
 'Don Adams',
 'George Adams',
 'Hassan Adams',
 'Jordan Adams',
 'Michael Adams',
 'Steven Adams',
 'Rafael Addison',
 'Bam Adebayo',
 'Rick Adelman',
 'Jeff Adrien',
 'Arron Afflalo',
 'Maurice Ager',
 'Mark Aguirre',
 'Blake Ahearn',
 'Danny Ainge',
 'Matthew Aitch',
 'Alexis Ajinca',
 'Henry Akin',
 'Josh Akognon',
 'Solomon Alabi',
 'Mark Alarie',
 'Gary Alcorn',
 'Furkan Aldemir',
 'Cole Aldrich',
 'LaMarcus Aldridge',
 'Chuck Aleksinas',
 'Cliff Alexander',
 'Cory Alexander',
 'Courtney Alexander',
 'Gary Alexander',
 'Joe Alexander',
 'Victor Alexander',
 'Steve Alford',
 'Bill Allen',
 'Bob Allen',
 'Jarrett Allen',
 'Jerome Allen',
 'Kadeem Allen',
 'Lavoy Allen',
 'Lucius Allen',
 'Malik Allen',
 'Randy Allen',
 'Ray Allen',
 'Tony Allen',
 'Willie Allen',
 'Odis Allison',
 'Lance Allred',
 'Darrell Allums',
 'Morris Almond',
 'Derrick Alston',
 'Rafer Alston',
 'Peter Aluma',
 'John Amaechi',
 'Ashraf Amaya',
 'Al-Farouq Aminu',
 'Lou Amundson',
 'Bob Anderegg',
 'Chris Andersen',
 'David Andersen',
 'Alan Anderson',
 'Andrew Anderson',
 'Antonio Anderson',
 'Cliff Anderson',
 'Dan Anderson',
 'Dan Anderson',
 'Derek Anderson',
 'Dwight Anderson',
 'Eric Anderson',
 'Greg Anderson',
 'J.J. Anderson',
 'James Anderson',
 'Jerome Anderson',
 'Justin Anderson',
 'Kenny Anderson',
 'Kim Anderson',
 'Kyle Anderson',
 'Michael Anderson',
 'Nick Anderson',
 'Richard Anderson',
 'Ron Anderson',
 'Ryan Anderson',
 'Shandon Anderson',
 'Willie Anderson',
 'Wally Anderzunas',
 'Martynas Andriuskevicius',
 'Don Anielak',
 'Ike Anigbogu',
 'Michael Ansley',
 'Chris Anstey',
 'Giannis Antetokounmpo',
 'Thanasis Antetokounmpo',
 'Carmelo Anthony',
 'Greg Anthony',
 'Joel Anthony',
 'Pero Antic',
 'OG Anunoby',
 'Keith Appling',
 'Rafael Araujo',
 'Stacey Arceneaux',
 'Robert Archibald',
 'Tiny Archibald',
 'Ryan Arcidiacono',
 'Jim Ard',
 'Gilbert Arenas',
 'Trevor Ariza',
 'Paul Arizin',
 'Joe Arlauckas',
 'B.J. Armstrong',
 'Bob Armstrong',
 'Brandon Armstrong',
 'Curly Armstrong',
 'Darrell Armstrong',
 'Hilton Armstrong',
 'Tate Armstrong',
 'Jesse Arnelle',
 'Jay Arnette',
 'Bob Arnzen',
 'Carlos Arroyo',
 'Darrell Arthur',
 'John Arthurs',
 'Jamel Artis',
 'Omer Asik',
 'Vincent Askew',
 'Keith Askins',
 'Don Asmonga',
 'Dick Atha',
 'Chucky Atkins',
 'Al Attles',
 'Chet Aubuchon',
 'Stacey Augmon',
 'D.J. Augustin',
 'James Augustine',
 'Isaac Austin',
 'Johnny Austin',
 'Ken Austin',
 'Anthony Avent',
 'Bird Averitt',
 'William Avery',
 'Dennis Awtrey',
 'Gustavo Ayon',
 'Jeff Ayres',
 'Kelenna Azubuike',
 'Chris Babb',
 'Luke Babbitt',
 'Milos Babic',
 'Johnny Bach',
 'Dwayne Bacon',
 'Henry Bacon',
 'Jim Baechtold',
 'Dalibor Bagaric',
 'John Bagley',
 'Carl Bailey',
 'Gus Bailey',
 'James Bailey',
 'Thurl Bailey',
 'Toby Bailey',
 'Cameron Bairstow',
 'Jimmie Baker',
 'LaMark Baker',
 'Maurice Baker',
 'Norm Baker',
 'Ron Baker',
 'Vin Baker',
 'Wade Baldwin',
 'Renaldo Balkman',
 'Cedric Ball',
 'Lonzo Ball',
 'Greg Ballard',
 'Herschel Baltimore',
 'Gene Banks',
 'Marcus Banks',
 'Walker Banks',
 'Ken Bannister',
 'Mike Bantom',
 'John Barber',
 'Leandro Barbosa',
 'Steve Bardo',
 'J.J. Barea',
 'Andrea Bargnani',
 'Cliff Barker',
 'Tom Barker',
 'Charles Barkley',
 'Erick Barkley',
 'Don Barksdale',
 'Harrison Barnes',
 'Harry Barnes',
 'Jim Barnes',
 'Marvin Barnes',
 'Matt Barnes',
 'Dick Barnett',
 'Jim Barnett',
 'Nathaniel Barnett',
 'John Barnhill',
 'Norton Barnhill',
 'Leo Barnhorst',
 'John Barr',
 'Mike Barr',
 'Moe Barr',
 'Andre Barrett',
 'Ernie Barrett',
 'Mike Barrett',
 'Earl Barron',
 'Dana Barros',
 'Brent Barry',
 'Drew Barry',
 'Jon Barry',
 'Rick Barry',
 'Ed Bartels',
 'Vic Bartolome',
 'Will Barton',
 'Eddie Basden',
 'Jerry Baskerville',
 'Brandon Bass',
 'Tim Bassett',
 'Maceo Baston',
 'Mengke Bateer',
 'Billy Ray Bates',
 'Esteban Batista',
 'Mike Batiste',
 'Tony Battie',
 'Shane Battier',
 'John Battle',
 'Kenny Battle',
 'Dave Batton',
 'Lloyd Batts',
 'Nicolas Batum',
 'Johnny Baum',
 'Frankie Baumholtz',
 'Lonny Baxter',
 'Jerryd Bayless',
 'Elgin Baylor',
 'Howard Bayne',
 'Aron Baynes',
 'Sergei Bazarevich',
 'Kent Bazemore',
 'Ed Beach',
 'Bradley Beal',
 'Al Beard',
 'Butch Beard',
 'Ralph Beard',
 'Charles Beasley',
 'Jerome Beasley',
 'John Beasley',
 'Malik Beasley',
 'Michael Beasley',
 'Zelmo Beaty',
 'Rodrigue Beaubois',
 'Byron Beck',
 'Corey Beck',
 'Ernie Beck',
 'Arthur Becker',
 'Moe Becker',
 'Bob Bedell',
 'William Bedford',
 'Hank Beenders',
 'Ron Behagen',
 'Elmer Behnke',
 'Marco Belinelli',
 'Charlie Bell',
 'Dennis Bell',
 'Jordan Bell',
 'Raja Bell',
 'Troy Bell',
 'Whitey Bell',
 'Walt Bellamy',
 "DeAndre' Bembry",
 'Irv Bemoras',
 'Leon Benbow',
 'Dragan Bender',
 'Jonathan Bender',
 'Jerrelle Benimon',
 'Benoit Benjamin',
 'Corey Benjamin',
 'Anthony Bennett',
 'Elmer Bennett',
 'Mario Bennett',
 'Mel Bennett',
 'Spider Bennett',
 'Tony Bennett',
 'Winston Bennett',
 'David Benoit',
 'Keith Benson',
 'Kent Benson',
 'Ben Bentil',
 'Gene Berce',
 'Gary Bergen',
 'Larry Bergh',
 'Ricky Berry',
 'Walter Berry',
 'Davis Bertans',
 'Del Beshore',
 'Travis Best',
 'Patrick Beverley',
 'Sim Bhullar',
 'Wesley Bialosuknia',
 'Al Bianchi',
 'Hank Biasatti',
 'Henry Bibby',
 'Mike Bibby',
 'Ed Biedenbach',
 'Andris Biedrins',
 'Don Bielke',
 'Bob Bigelow',
 'Lionel Billingy',
 'Chauncey Billups',
 'Dave Bing',
 'Joe Binion',
 'Khem Birch',
 'Jabari Bird',
 'Jerry Bird',
 'Larry Bird',
 'Otis Birdsong',
 'Gale Bishop',
 'Bismack Biyombo',
 'Nemanja Bjelica',
 'Uwe Blab',
 'Charlie Black',
 'Norman Black',
 'Tarik Black',
 'Tom Black',
 'Rolando Blackman',
 'Alex Blackwell',
 'Cory Blackwell',
 'James Blackwell',
 'Nate Blackwell',
 'DeJuan Blair',
 'Steve Blake',
 'Antonio Blakeney',
 'Will Blalock',
 'George Blaney',
 'Lance Blanks',
 'Ricky Blanton',
 'Andray Blatche',
 'Mookie Blaylock',
 'Eric Bledsoe',
 'Leon Blevins',
 'John Block',
 'Mike Bloom',
 'Corie Blount',
 'Mark Blount',
 'Vander Blue',
 'Ray Blume',
 'Nelson Bobb',
 'Tony Bobbitt',
 'Bucky Bockhorn',
 'Tom Boerwinkle',
 'Keith Bogans',
 'Bogdan Bogdanovic',
 'Bojan Bogdanovic',
 'Muggsy Bogues',
 'Andrew Bogut',
 'Etdrick Bohannon',
 'Manute Bol',
 'Bill Bolger',
 'Joel Bolomboy',
 'Doug Bolstorff',
 'George Bon Salle',
 'Phil Bond',
 'Walter Bond',
 'Dexter Boney',
 'Ron Bonham',
 'Anthony Bonner',
 'Matt Bonner',
 'Butch Booker',
 'Devin Booker',
 'Melvin Booker',
 'Trevor Booker',
 'Josh Boone',
 'Ron Boone',
 'Calvin Booth',
 'Keith Booth',
 'Bob Boozer',
 'Carlos Boozer',
 'Curtis Borchardt',
 'Jake Bornheimer',
 'Lazaro Borrell',
 'Ike Borsavage',
 'Vince Boryla',
 'Chris Bosh',
 'Jim Bostic',
 'Lawrence Boston',
 'Tom Boswell',
 'Ruben Boumtje-Boumtje',
 'Don Boven',
 'Cal Bowdler',
 'Bruce Bowen',
 'Ryan Bowen',
 'Tommie Bowens',
 'Anthony Bowie',
 'Sam Bowie',
 'Orbie Bowling',
 'Ira Bowman',
 'Nate Bowman',
 'Donnie Boyce',
 'Dennis Boyd',
 'Freddie Boyd',
 'Ken Boyd',
 'Earl Boykins',
 'Harry Boykoff',
 'Winford Boynes',
 'Cedric Bozeman',
 'Steve Bracey',
 'Craig Brackins',
 'Gary Bradds',
 'Alex Bradley',
 'Alonzo Bradley',
 'Avery Bradley',
 'Bill Bradley',
 'Bill Bradley',
 'Charles Bradley',
 'Dudley Bradley',
 'Jim Bradley',
 'Joe Bradley',
 'Michael Bradley',
 'Shawn Bradley',
 'Tony Bradley',
 'Mark Bradtke',
 'Marques Bragg',
 'Torraye Braggs',
 'A.J. Bramlett',
 'Adrian Branch',
 'Elton Brand',
 'Terrell Brandon',
 'Bob Brannum',
 'Brad Branson',
 'Jesse Branson',
 'Jim Brasco',
 'Mike Bratz',
 'Carl Braun',
 'Tim Breaux',
 'J.R. Bremer',
 'Pete Brennan',
 'Tom Brennan',
 'Randy Breuer',
 'Corey Brewer',
 'Jamison Brewer',
 'Jim Brewer',
 'Ron Brewer',
 'Ronnie Brewer',
 'Primoz Brezec',
 'Frankie Brian',
 'Frank Brickowski',
 'Junior Bridgeman',
 'Bill Bridges',
 'Al Brightman',
 'Aud Brindley',
 'John Brisker',
 'Allan Bristow',
 'Tyrone Britt',
 'Wayman Britt',
 'Mike Brittain',
 'Dave Britton',
 'Jon Brockman',
 'Jim Brogan',
 'Malcolm Brogdon',
 'Gary Brokaw',
 'Price Brookfield',
 'Clarence Brookins',
 'Aaron Brooks',
 'Dillon Brooks',
 'Kevin Brooks',
 'MarShon Brooks',
 'Michael Brooks',
 'Scott Brooks',
 'Andre Brown',
 'Anthony Brown',
 'Bob Brown',
 'Bobby Brown',
 'Chucky Brown',
 'Damone Brown',
 'Darrell Brown',
 'Dee Brown',
 'Dee Brown',
 'Derrick Brown',
 'Devin Brown',
 'Ernest Brown',
 'Fred Brown',
 'George Brown',
 'Gerald Brown',
 'Harold Brown',
 'Jabari Brown',
 'Jaylen Brown',
 'John Brown',
 'Kedrick Brown',
 'Kwame Brown',
 'Larry Brown',
 'Leon Brown',
 'Lewis Brown',
 'Lorenzo Brown',
 'Marcus Brown',
 'Markel Brown',
 'Mike Brown',
 'Myron Brown',
 'P.J. Brown',
 'Randy Brown',
 'Raymond Brown',
 'Rickey Brown',
 'Roger Brown',
 'Roger Brown',
 'Shannon Brown',
 'Stan Brown',
 'Sterling Brown',
 'Tierre Brown',
 'Tony Brown',
 'Jim Browne',
 'Stanley Brundy',
 'Brian Brunkhorst',
 'George Bruns',
 'Rick Brunson',
 'Nicolas Brussino',
 'Em Bryant',
 'Joe Bryant',
 'Kobe Bryant',
 'Mark Bryant',
 'Thomas Bryant',
 'Wallace Bryant',
 'Torgeir Bryn',
 'George Bucci',
 'Joe Buckhalter',
 'Steve Bucknall',
 'Cleveland Buckner',
 'Greg Buckner',
 'Quinn Buckner',
 'Dave Budd',
 'Chase Budinger',
 'Walt Budko',
 'Jud Buechler',
 'Rodney Buford',
 'Matt Bullard',
 'Reggie Bullock',
 'Larry Bunce',
 'Greg Bunch',
 'Dick Bunt',
 'Bill Buntin',
 'Bill Bunting',
 'Ticky Burden',
 'Pat Burke',
 'Trey Burke',
 'Roger Burkman',
 'Alec Burks',
 'Antonio Burks',
 'Kevin Burleson',
 'Tom Burleson',
 'Jack Burmaster',
 'David Burns',
 'Evers Burns',
 'Jim Burns',
 'Scott Burrell',
 'Art Burris',
 'Junior Burrough',
 'Bob Burrow',
 'Ed Burton',
 'Willie Burton',
 'Steve Burtt',
 'Don Buse',
 'David Bustion',
 'Donnie Butcher',
 'Al Butler',
 'Caron Butler',
 'Greg Butler',
 'Jackie Butler',
 'Jimmy Butler',
 'Mike Butler',
 'Mitchell Butler',
 'Rasual Butler',
 'Dwight Buycks',
 'Derrick Byars',
 'Andrew Bynum',
 'Will Bynum',
 'Walter Byrd',
 'Marty Byrnes',
 'Tommy Byrnes',
 'Michael Bytzura',
 'Zarko Cabarkapa',
 'Barney Cable',
 'Bruno Caboclo',
 'Jason Caffey',
 'Michael Cage',
 'Gerry Calabrese',
 'Nick Calathes',
 'Jose Calderon',
 'Adrian Caldwell',
 'Jim Caldwell',
 'Joe Caldwell',
 'Kentavious Caldwell-Pope',
 'Bill Calhoun',
 'Corky Calhoun',
 'Demetrius Calip',
 'Tom Callahan',
 'Rick Calloway',
 'Ernie Calverley',
 'Mack Calvin',
 'Dexter Cambridge',
 'Marcus Camby',
 'Elden Campbell',
 'Tony Campbell',
 'Isaiah Canaan',
 'Larry Cannon',
 'Clint Capela',
 'Derrick Caracter',
 'Frank Card',
 'Brian Cardinal',
 'Howie Carl',
 'Chet Carlisle',
 'Geno Carlisle',
 'Rick Carlisle',
 'Don Carlos',
 'Al Carlson',
 'Don Carlson',
 'Bob Carney',
 'Rodney Carney',
 'Bob Carpenter',
 'Antoine Carr',
 'Austin Carr',
 'Chris Carr',
 'Cory Carr',
 'Kenny Carr',
 'M.L. Carr',
 'Darel Carrier',
 'Bob Carrington',
 'DeMarre Carroll',
 'Joe Barry Carroll',
 'Matt Carroll',
 'Jimmy Carruth',
 'Anthony Carter',
 'Butch Carter',
 'Fred Carter',
 'George Carter',
 'Howard Carter',
 'Jake Carter',
 'Maurice Carter',
 'Reggie Carter',
 'Ron Carter',
 'Vince Carter',
 'Michael Carter-Williams',
 'Bill Cartwright',
 'Jay Carty',
 'Alex Caruso',
 'Cornelius Cash',
 'Sam Cash',
 'Sam Cassell',
 'Omri Casspi',
 'Harvey Catchings',
 'Terry Catledge',
 'Sid Catlett',
 'Kelvin Cato',
 'Bobby Cattage',
 'Willie Cauley-Stein',
 'Duane Causwell',
 'Tyler Cavanaugh',
 'Ron Cavenall',
 'Cedric Ceballos',
 'John Celestand',
 'Al Cervi',
 'Lionel Chalmers',
 'Mario Chalmers',
 'Bill Chamberlain',
 'Wilt Chamberlain',
 'Jerry Chambers',
 'Tom Chambers',
 'Mike Champion',
 'Tyson Chandler',
 'Wilson Chandler',
 'Don Chaney',
 'John Chaney',
 'Rex Chapman',
 'Wayne Chapman',
 'Len Chappell',
 'Ken Charles',
 'Lorenzo Charles',
 'Calbert Cheaney',
 'Maurice Cheeks',
 'Phil Chenier',
 'Will Cherry',
 'Derrick Chievous',
 'Pete Chilcutt',
 'Josh Childress',
 'Randolph Childress',
 'Chris Childs',
 'Leroy Chollet',
 'Jim Chones',
 'Marquese Chriss',
 'Fred Christ',
 'Cal Christensen',
 'Bob Christian',
 'Doug Christie',
 'Dionte Christmas',
 'Rakeem Christmas',
 'Semaj Christon',
 'Patrick Christopher',
 'Stephen Chubin',
 'Robert Churchwell',
 'Archie Clark',
 'Carlos Clark',
 'Earl Clark',
 'Ian Clark',
 'Keon Clark',
 'Richard Clark',
 'Coty Clarke',
 'Jordan Clarkson',
 'Gian Clavell',
 'Victor Claver',
 'John Clawson',
 'Charles Claxton',
 'Speedy Claxton',
 'Jim Cleamons',
 'Mateen Cleaves',
 'Barry Clemens',
 'Antonius Cleveland',
 'Nat Clifton',
 'Bill Closs',
 'Keith Closs',
 'Paul Cloyd',
 'Bob Cluggish',
 'Ben Clyde',
 'Richard Coffey',
 'Fred Cofield',
 'John Coker',
 'Norris Cole',
 'Ben Coleman',
 'Derrick Coleman',
 'E.C. Coleman',
 'Jack Coleman',
 'Norris Coleman',
 'Bimbo Coles',
 'Jason Collier',
 'Art Collins',
 'Don Collins',
 'Doug Collins',
 'James Collins',
 'Jarron Collins',
 'Jason Collins',
 'Jimmy Collins',
 'John Collins',
 'Mardy Collins',
 'Sherron Collins',
 'Zach Collins',
 'Kyle Collinsworth',
 'Darren Collison',
 'Nick Collison',
 'Joe Colone',
 'Sean Colson',
 'Steve Colter',
 'Glen Combs',
 'Leroy Combs',
 'John Comeaux',
 'Dallas Comegys',
 'Larry Comley',
 'Jeffrey Congdon',
 'Gene Conley',
 'Larry Conley',
 'Mike Conley',
 'Ed Conlin',
 'Marty Conlon',
 'Pat Connaughton',
 'Jimmy Conner',
 'Lester Conner',
 'Chuck Connors',
 'Will Conroy',
 'Anthony Cook',
 'Bert Cook',
 'Bobby Cook',
 'Brian Cook',
 'Daequan Cook',
 'Darwin Cook',
 'Jeff Cook',
 'Norm Cook',
 'Omar Cook',
 'Quinn Cook',
 'Charles Cooke',
 'David Cooke',
 'Joe Cooke',
 'Jack Cooley',
 'Chuck Cooper',
 'Duane Cooper',
 'Joe Cooper',
 'Michael Cooper',
 'Wayne Cooper',
 'Tom Copa',
 'Chris Copeland',
 'Hollis Copeland',
 'Lanard Copeland',
 'Tyrone Corbin',
 'Chris Corchiani',
 'Ken Corley',
 'Ray Corley',
 'Dave Corzine',
 'Larry Costello',
 'Matt Costello',
 'Bryce Cotton',
 'Jack Cotton',
 'James Cotton',
 'John Coughran',
 'Mel Counts',
 'Steve Courtin',
 'Joe Courtney',
 'Marcus Cousin',
 'DeMarcus Cousins',
 'Bob Cousy',
 'Robert Covington',
 'Dave Cowens',
 'Chubby Cox',
 'Johnny Cox',
 'Wesley Cox',
 'Allen Crabbe',
 'Torrey Craig',
 'Chris Crawford',
 'Freddie Crawford',
 'Jamal Crawford',
 'Joe Crawford',
 'Jordan Crawford',
 'Jim Creighton',
 'Ron Crevier',
 'Hal Crisler',
 'Joe Crispin',
 'Charlie Criss',
 'Russell Critchfield',
 'Winston Crite',
 'Javaris Crittenton',
 'Dillard Crocker',
 'Bobby Croft',
 'Geoff Crompton',
 'Terry Crosby',
 'Austin Croshere',
 'Jeff Cross',
 'Pete Cross',
 'Russell Cross',
 'Chink Crossin',
 'John Crotty',
 'Bill Crow',
 'Mark Crow',
 'Corey Crowder',
 'Jae Crowder',
 'Al Cueto',
 'Pat Cummings',
 'Terry Cummings',
 'Vonteego Cummings',
 'Billy Cunningham',
 'Dante Cunningham',
 'Dick Cunningham',
 'Jared Cunningham',
 'William Cunningham',
 'Radisav Curcic',
 'Armand Cure',
 'Earl Cureton',
 'Bill Curley',
 'Fran Curran',
 'Dell Curry',
 'Eddy Curry',
 'JamesOn Curry',
 'Michael Curry',
 'Seth Curry',
 'Stephen Curry',
 'Rastko Cvetkovic',
 "Mike D'Antoni",
 'Mike Dabich',
 'Ed Dahler',
 'Quintin Dailey',
 'Samuel Dalembert',
 'Howie Dallmar',
 'Erick Dampier',
 'Louie Dampier',
 'Bob Dandridge',
 'Antonio Daniels',
 'Erik Daniels',
 'Lloyd Daniels',
 'Marquis Daniels',
 'Mel Daniels',
 'Troy Daniels',
 'Sasha Danilovic',
 'Adrian Dantley',
 'Pete Darcey',
 'Jimmy Darden',
 'Ollie Darden',
 'Yinka Dare',
 'Jesse Dark',
 'Rick Darnell',
 'Jimmy Darrow',
 'Luigi Datome',
 'Brad Daugherty',
 'Mack Daughtry',
 'Kornel David',
 'Jermareo Davidson',
 'Bob Davies',
 'Brandon Davies',
 'Anthony Davis',
 'Antonio Davis',
 'Aubrey Davis',
 'Baron Davis',
 'Ben Davis',
 'Bill Davis',
 'Bob Davis',
 'Brad Davis',
 'Brian Davis',
 'Charles Davis',
 'Charlie Davis',
 'Dale Davis',
 'Deyonta Davis',
 'Dwight Davis',
 'Ed Davis',
 'Emanual Davis',
 'Glen Davis',
 'Harry Davis',
 'Hubert Davis',
 'Jim Davis',
 'Johnny Davis',
 'Josh Davis',
 'Lee Davis',
 'Mark Davis',
 'Mark Davis',
 'Mel Davis',
 'Mickey Davis',
 'Mike Davis',
 'Mike Davis',
 'Monti Davis',
 'Paul Davis',
 'Ralph Davis',
 'Red Davis',
 'Ricky Davis',
 'Ron Davis',
 'Terry Davis',
 'Walt Davis',
 'Walter Davis',
 'Warren Davis',
 'Willie Davis',
 'Andre Dawkins',
 'Darryl Dawkins',
 'Johnny Dawkins',
 'Paul Dawkins',
 'Branden Dawson',
 'Eric Dawson',
 'Jimmy Dawson',
 'Tony Dawson',
 'Todd Day',
 'Austin Daye',
 'Darren Daye',
 'Nando De Colo',
 'Greg Deane',
 'Billy DeAngelis',
 'Dave DeBusschere',
 'Andrew DeClercq',
 'Dewayne Dedmon',
 'Don Dee',
 'Archie Dees',
 'Terry Dehere',
 'Red Dehnert',
 'Bryce Dejean-Jones',
 'Sam Dekker',
 'Vinny Del Negro',
 'Malcolm Delaney',
 'Bison Dele',
 'Carlos Delfino',
 'Tony Delk',
 'Matthew Dellavedova',
 'Nate DeLong',
 'Fennis Dembo',
 'Larry Demic',
 'Dell Demps',
 'George Dempsey',
 'Luol Deng',
 'Kenny Dennard',
 'Blaine Denning',
 'Justin Dentmon',
 'Randy Denton',
 'Joe DePre',
 'Rod Derline',
 'DeMar DeRozan',
 'Dave Deutsch',
 'Corky Devlin',
 'Hank DeZonie',
 'Derrick Dial',
 'Cheick Diallo',
 'Boris Diaw',
 'Yakhouba Diawara',
 'Guillermo Diaz',
 'Dan Dickau',
 'Kaniel Dickens',
 'Henry Dickerson',
 'Michael Dickerson',
 'Clyde Dickey',
 'Derrek Dickey',
 'Dick Dickey',
 'John Dickson',
 'Travis Diener',
 ...]

If instead of using a single label (which is the name of the column), you use a list of labels, you get a new dataframe only with the selected columns. This is a pratical way to filter the dataframe to just the columns you need.

In [420]:
df[["name", "college"]]

                     name                                college
0          Alaa Abdelnaby                        Duke University
1         Zaid Abdul-Aziz                  Iowa State University
2     Kareem Abdul-Jabbar  University of California, Los Angeles
3      Mahmoud Abdul-Rauf             Louisiana State University
4       Tariq Abdul-Wahad              San Jose State University
...                   ...                                    ...
4545           Ante Zizic                                    NaN
4546             Jim Zoet                  Kent State University
4547            Bill Zopf                    Duquesne University
4548          Ivica Zubac                                    NaN
4549           Matt Zunic           George Washington University

[4550 rows x 2 columns]

In this dataset, the weight of the players is stored in Pound(lbs)

In [421]:
player_weight = df["weight"]
print(player_weight)

0       240.0
1       235.0
2       225.0
3       162.0
4       223.0
        ...
4545    250.0
4546    240.0
4547    170.0
4548    265.0
4549    195.0
Name: weight, Length: 4550, dtype: float64

And the heights in feet...

In [422]:
players_height = df["height"]
print(players_height)

0       6-10
1        6-9
2        7-2
3        6-1
4        6-6
        ...
4545    6-11
4546     7-1
4547     6-1
4548     7-1
4549     6-3
Name: height, Length: 4550, dtype: object

Lets create some functions to convert weight and height into metric system. Knowing that:

* weight (kg) = 0.453592 * weight (lbs)

* height (cm) = feet * 30.48 + inches * 2.54

In [423]:
weight_kg = player_weight * 0.453592
weight_kg

0       108.862080
1       106.594120
2       102.058200
3        73.481904
4       101.151016
           ...
4545    113.398000
4546    108.862080
4547     77.110640
4548    120.201880
4549     88.450440
Name: weight, Length: 4550, dtype: float64

In [424]:
def lbs_to_kg(player_weight):
  if pd.isna(player_weight): ## is it null (Nan)
    return np.nan
  return player_weight * 0.453592

In [425]:
lbs_to_kg(240.0)

108.86207999999999

In [426]:
def feet_to_cm(player_height):
  if pd.isna(player_height):
    return np.nan
  l = player_height.split("-")
  return float(l[0]) * 30.48 + float(l[1]) * 2.54

In [427]:
feet_to_cm('6-10')

208.28

Using the ``apply()`` method, you can use the columns values as inputs and return the result row by row.

In [428]:
height_cm = df["height"].apply(feet_to_cm)

In [429]:
height_cm

0       208.28
1       205.74
2       218.44
3       185.42
4       198.12
         ...
4545    210.82
4546    215.90
4547    185.42
4548    215.90
4549    190.50
Name: height, Length: 4550, dtype: float64

You can also replace the old values by the new ones directly.

In [430]:
df["height"] = df["height"].apply(feet_to_cm)

In [431]:
df

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,208.28,240.0,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,205.74,235.0,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,218.44,225.0,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,185.42,162.0,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,198.12,223.0,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,210.82,250.0,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,215.90,240.0,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,185.42,170.0,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,215.90,265.0,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,190.50,195.0,"December 19, 1919",George Washington University

And the same for the weight.

In [432]:
df["weight"] = df["weight"].apply(lbs_to_kg).round(2)

In [433]:
df

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,208.28,108.86,"June 24, 1968",Duke University
1,Zaid Abdul-Aziz,1969,1978,C-F,205.74,106.59,"April 7, 1946",Iowa State University
2,Kareem Abdul-Jabbar,1970,1989,C,218.44,102.06,"April 16, 1947","University of California, Los Angeles"
3,Mahmoud Abdul-Rauf,1991,2001,G,185.42,73.48,"March 9, 1969",Louisiana State University
4,Tariq Abdul-Wahad,1998,2003,F,198.12,101.15,"November 3, 1974",San Jose State University
...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,210.82,113.40,"January 4, 1997",NaN
4546,Jim Zoet,1983,1983,C,215.90,108.86,"December 20, 1953",Kent State University
4547,Bill Zopf,1971,1971,G,185.42,77.11,"June 7, 1948",Duquesne University
4548,Ivica Zubac,2017,2018,C,215.90,120.20,"March 18, 1997",NaN
4549,Matt Zunic,1949,1949,G-F,190.50,88.45,"December 19, 1919",George Washington University

You can create new columns and fill it with values based on other columns. Let's start by creating a function to calculate the body mass index (bmi).

The ``isna()`` method checks if a row has a certain attribute empty (`NaN` in Numpy)

In [434]:
def player_bmi(height, weight):
  if pd.isna(height) or pd.isna(weight):
    return np.nan
  return weight / (height / 100.0) ** 2

In [435]:
player_bmi(215.0, 120.2)

26.003244997295837

Now, using a row as argument, we can run a lambda function to calculate the BMI for each. Notice that we are adding a new column to store the result as BMI column did not exists

In [436]:
df["BMI"] = df.apply(lambda row: player_bmi(row.height, row.weight), axis=1).round(2)

In Python, lambda allows to create anonymous function means that a function is without a name. As we already know that def keyword is used to define the normal functions and the lambda keyword is used to create anonymous functions. It has the following syntax:
```
lambda arguments : expression
```

Since the `apply` method needs a function we create one with lambda. Also axis=1 means that we are performing this operation at the column level

In [437]:
df

,name,year_start,year_end,position,height,weight,birth_date,college,BMI
0,Alaa Abdelnaby,1991,1995,F-C,208.28,108.86,"June 24, 1968",Duke University,25.09
1,Zaid Abdul-Aziz,1969,1978,C-F,205.74,106.59,"April 7, 1946",Iowa State University,25.18
2,Kareem Abdul-Jabbar,1970,1989,C,218.44,102.06,"April 16, 1947","University of California, Los Angeles",21.39
3,Mahmoud Abdul-Rauf,1991,2001,G,185.42,73.48,"March 9, 1969",Louisiana State University,21.37
4,Tariq Abdul-Wahad,1998,2003,F,198.12,101.15,"November 3, 1974",San Jose State University,25.77
...,...,...,...,...,...,...,...,...,...
4545,Ante Zizic,2018,2018,F-C,210.82,113.40,"January 4, 1997",NaN,25.51
4546,Jim Zoet,1983,1983,C,215.90,108.86,"December 20, 1953",Kent State University,23.35
4547,Bill Zopf,1971,1971,G,185.42,77.11,"June 7, 1948",Duquesne University,22.43
4548,Ivica Zubac,2017,2018,C,215.90,120.20,"March 18, 1997",NaN,25.79
4549,Matt Zunic,1949,1949,G-F,190.50,88.45,"December 19, 1919",George Washington University,24.37

Using a list of columns one can also reorder the columns in the dataframe

In [438]:
new_df = df[['college', 'name', 'year_start', 'year_end', 'position', 'height', 'weight', 'BMI', 'birth_date']]

In [439]:
new_df

,college,name,year_start,year_end,position,height,weight,BMI,birth_date
0,Duke University,Alaa Abdelnaby,1991,1995,F-C,208.28,108.86,25.09,"June 24, 1968"
1,Iowa State University,Zaid Abdul-Aziz,1969,1978,C-F,205.74,106.59,25.18,"April 7, 1946"
2,"University of California, Los Angeles",Kareem Abdul-Jabbar,1970,1989,C,218.44,102.06,21.39,"April 16, 1947"
3,Louisiana State University,Mahmoud Abdul-Rauf,1991,2001,G,185.42,73.48,21.37,"March 9, 1969"
4,San Jose State University,Tariq Abdul-Wahad,1998,2003,F,198.12,101.15,25.77,"November 3, 1974"
...,...,...,...,...,...,...,...,...,...
4545,NaN,Ante Zizic,2018,2018,F-C,210.82,113.40,25.51,"January 4, 1997"
4546,Kent State University,Jim Zoet,1983,1983,C,215.90,108.86,23.35,"December 20, 1953"
4547,Duquesne University,Bill Zopf,1971,1971,G,185.42,77.11,22.43,"June 7, 1948"
4548,NaN,Ivica Zubac,2017,2018,C,215.90,120.20,25.79,"March 18, 1997"
4549,George Washington University,Matt Zunic,1949,1949,G-F,190.50,88.45,24.37,"December 19, 1919"

## Filtering rows

You can also filter the rows that you want using ``iloc`` using the integer index (you guessed it, it's a Zero based index).

In [440]:
df.iloc[1, :] ## row index = 1 and all columns

name                Zaid Abdul-Aziz
year_start                     1969
year_end                       1978
position                        C-F
height                       205.74
weight                       106.59
birth_date            April 7, 1946
college       Iowa State University
BMI                           25.18
Name: 1, dtype: object

In [441]:
df.iloc[1:10, :] ## all rows from index=1 to index=9 and all columns 1:10 == [1, 10[

,name,year_start,year_end,position,height,weight,birth_date,college,BMI
1,Zaid Abdul-Aziz,1969,1978,C-F,205.74,106.59,"April 7, 1946",Iowa State University,25.18
2,Kareem Abdul-Jabbar,1970,1989,C,218.44,102.06,"April 16, 1947","University of California, Los Angeles",21.39
3,Mahmoud Abdul-Rauf,1991,2001,G,185.42,73.48,"March 9, 1969",Louisiana State University,21.37
4,Tariq Abdul-Wahad,1998,2003,F,198.12,101.15,"November 3, 1974",San Jose State University,25.77
5,Shareef Abdur-Rahim,1997,2008,F,205.74,102.06,"December 11, 1976",University of California,24.11
6,Tom Abernethy,1977,1981,F,200.66,99.79,"May 6, 1954",Indiana University,24.78
7,Forest Able,1957,1957,G,190.50,81.65,"July 27, 1932",Western Kentucky University,22.50
8,John Abramovic,1947,1948,F,190.50,88.45,"February 9, 1919",Salem International University,24.37
9,Alex Abrines,2017,2018,G-F,198.12,86.18,"August 1, 1993",NaN,21.96

Using iloc, you can also specify which columns to include using a single integer column index.

In [442]:
df.iloc[1:10, 0]

1        Zaid Abdul-Aziz
2    Kareem Abdul-Jabbar
3     Mahmoud Abdul-Rauf
4      Tariq Abdul-Wahad
5    Shareef Abdur-Rahim
6          Tom Abernethy
7            Forest Able
8         John Abramovic
9           Alex Abrines
Name: name, dtype: object

An interval of integer indexes:

In [443]:
df.iloc[1:10, 0:3] ##  0:3 == [0, 3[

                  name  year_start  year_end
1      Zaid Abdul-Aziz        1969      1978
2  Kareem Abdul-Jabbar        1970      1989
3   Mahmoud Abdul-Rauf        1991      2001
4    Tariq Abdul-Wahad        1998      2003
5  Shareef Abdur-Rahim        1997      2008
6        Tom Abernethy        1977      1981
7          Forest Able        1957      1957
8       John Abramovic        1947      1948
9         Alex Abrines        2017      2018

Or a list of integer indexes.

In [ ]:
df.iloc[1:10, [0, 1, 3]]

                  name  year_start position
1      Zaid Abdul-Aziz        1969      C-F
2  Kareem Abdul-Jabbar        1970        C
3   Mahmoud Abdul-Rauf        1991        G
4    Tariq Abdul-Wahad        1998        F
5  Shareef Abdur-Rahim        1997        F
6        Tom Abernethy        1977        F
7          Forest Able        1957        G
8       John Abramovic        1947        F
9         Alex Abrines        2017      G-F

In [448]:
df.iloc[[0,3,5], [0, 1, 3]]

                  name  year_start position
0       Alaa Abdelnaby        1991      F-C
3   Mahmoud Abdul-Rauf        1991        G
5  Shareef Abdur-Rahim        1997        F

If instead of integer index, you want to use the labels, you can use the ``loc`` method instead

In [445]:
df.loc[1:10, ["name", "year_start"]]

                   name  year_start
1       Zaid Abdul-Aziz        1969
2   Kareem Abdul-Jabbar        1970
3    Mahmoud Abdul-Rauf        1991
4     Tariq Abdul-Wahad        1998
5   Shareef Abdur-Rahim        1997
6         Tom Abernethy        1977
7           Forest Able        1957
8        John Abramovic        1947
9          Alex Abrines        2017
10           Alex Acker        2006

You can also filter rows using a condition, for that you need a nested approach.

In [446]:
df['year_start'] > 2017

0       False
1       False
2       False
3       False
4       False
        ...
4545     True
4546    False
4547    False
4548    False
4549    False
Name: year_start, Length: 4550, dtype: bool

In [447]:

df.loc[df['year_start'] > 2017, ["name", "year_start"]]

                    name  year_start
23           Bam Adebayo        2018
51         Jarrett Allen        2018
53          Kadeem Allen        2018
102         Ike Anigbogu        2018
111           OG Anunoby        2018
...                  ...         ...
4395       Matt Williams        2018
4433         D.J. Wilson        2018
4436        Jamil Wilson        2018
4512  Guerschon Yabusele        2018
4545          Ante Zizic        2018

[90 rows x 2 columns]

For more about pandas functionaly and usage examples consult the [official documentation](https://pandas.pydata.org/docs/user_guide/index.html). The cookbook shows some advanced usages. Also check the **missing data** section, which shows how to filter or to fill in missing data.